html,
body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 微软雅黑, "Microsoft Yahei", arial, 宋体,"Hiragino Sans GB", tahoma;
}
body{
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Microsoft YaHei,Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
// 引入自定义组件
@import "./comopents/cus-input.scss";
@import "./comopents/cus-button.scss";
@import "./comopents/cus-table.scss";
@import "./comopents/cus-dialog.scss";
@import "./comopents/cus-form.scss";

div.picker {
	z-index: 10007;
}

.geSidebarContainer .geTitle input {
	font-size: 8pt;
	color: #606060;
}

.geBlock {
	z-index: -3;
	margin: 100px;
	margin-top: 40px;
	margin-bottom: 30px;
	padding: 20px;
}

.geBlock h1, .geBlock h2 {
	margin-top: 0px;
	padding-top: 0px;
}

.geEditor ::-webkit-scrollbar {
	width: 14px;
	height: 14px;
}

.geEditor ::-webkit-scrollbar-track {
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px;
}

.geEditor ::-webkit-scrollbar-corner {
	background-color: transparent;
}

.geEditor ::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .1);
	background-clip: padding-box;
	border: solid transparent;
	border-radius: 10px;
}

.geEditor ::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, .4);
}
.geTemplate {
	border: 1px solid transparent;
	display: inline-block;
	_display: inline;
	vertical-align: top;
	border-radius: 3px;
	overflow: hidden;
	font-size: 14pt;
	cursor: pointer;
	margin: 5px;
}

/* 右侧操作栏 */
.geFormatContainer{
	right: 0px;
	z-index: 1;
	top: 42px;
	width: 240px;
	bottom: 0px;
}

// 各模块的样式
@import "./modules/homepage.scss";
@import "./modules/node-attributes.scss";
@import "./modules/line-params-dialog.scss";
@import "./modules/node-people-define.scss";
