.cus-form{
	&.cus-form_long{
		.el-form-item__label{
			width: 100px;
		}
		.el-form-item__content{
			margin-left: 100px;
		}

	}
	// 标题很长的表单项
	.form-item-long{
		.el-form-item__label{
			width: 200px;
		}
		.el-form-item__content{
			margin-left: 200px;
		}
	}
	// 时间选择框
	.time-group{
		.time-group_input{
			width: 80%;
		}
		.time-group_select{
			width: 20%;
			.el-input__inner{
				padding-left: 4px;
				padding-right: 20px;
				text-align: center;
			}
			.el-input__suffix{
				right: 0px;
			}

		}
	}

	// button的样式
	.form-buttons{
		text-align: center;
	}
	.el-button {
		line-height: 26px;
		padding: 0;
		text-align: center;
		height: 26px;
		width: 52px;
	}

	// select 的样式
	.el-select{
		width: 100%;
	}

	// 里面的小分组
	.inner-group-title{
		margin: 5px 0;
		padding-left: 10px;
		[class^=el-icon]{
			color: #409eff;

		}
	}
}
